<h1 class="special">Hello World from the HTML file.</h1>

{{people}}

<ul>
  <!-- Angular 'Foreach loop - STUDY!' -->
  <li *ngFor = "let person of people">
    {{person}}
  </li>
</ul>

<ul>
  <!-- Angular 'Foreach loop - STUDY!' -->
  <li *ngFor = "let person of people; let i = index">
    {{i + 1}} {{person}}
  </li>
</ul>

<ul>
  <!-- Angular 'Foreach loop' - STUDY! -->
  <li *ngFor = "let person of people2; let i = index">
    {{i + 1}} {{person.firstName}} {{person.lastName}}
  </li>
  </ul>

